.nav{
    display: flex;
    text-decoration: none;
    justify-content: flex-start;
    list-style: none;
    padding: 0.5em;
}

.navOuter{
    margin-top:10%;
    background-color: #FFFFFF;
    border-radius: 10px;
}

ul>li{
    padding: 1em 1.5em;
}